@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 2em;
    text-align: center;
}

img {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

a{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    font-size: 1.25em;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

a:hover {
    background-color: darkgray;
    color: white;
}

body {
    background-color: lightgray;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    padding: 0;
    margin: 0;
}

.background {
    background-color: aliceblue;
}

p {
    font-size: 1.25em;
    box-sizing: border-box;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}

#color {
    color: black;
}

footer {
    background-color: darkgray;
    color: rgb(71, 69, 69);
}