@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&family=Spline+Sans+Mono:wght@300&display=swap');

:root {
  --primary-color: #3E92CC;
  --secondary-color: #2a628f;
  --accent1-color: #13293d;
  --accent2-color: white;

  --heading-font: "Anton";
  --paragraph-font:  "Open Sans ";

  --headline-color-on-white: #13293d;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #2a628f; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #3e92cc  ;
  --nav-link-color: white;
  --nav-background-color: #13293d;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

